.input {
  border: 1px solid var(--medium-grey, #84919b);
  padding-left: 0.5em;
  font-size: 12px;
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 2px;
  flex-shrink: 0;
}

.input::placeholder {
  color: #b1b1b1;
}

.input:focus {
  outline: none;
  border-width: 2px;
}

.invalid {
  border-color: red;
}
