.button {
  display: inline-block;
  padding: 0.2em 1em;
  border-radius: 6px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2) 50%, transparent 51%),
    linear-gradient(#ebebeb, #e0e0df);
  box-shadow: 1px 1px 4px -2px #333, -1px -1px 2px -2px #333;
  font-size: 12px;
  background-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  cursor: pointer;
  line-height: 1.4em;
}

.button:focus,
.button:active {
  outline: none;
}

.disabled {
}
