.eventForm {
  padding: 1.4em;
  box-shadow: 3px 6px 5px #d9d9d9, -3px -2px 5px #d9d9d9;
  display: none;
  background-color: white;
  position: fixed;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: initial;
}

.eventForm:focus,
.eventForm:active {
  box-shadow: 3px 6px 5px #d9d9d9, -3px -2px 5px #d9d9d9;
}

.active {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.buttonRow {
  display: flex;
  margin-top: auto;
}

@media (min-width: 768px) {
  .eventForm {
    max-width: 300px;
    min-height: 330px;
    position: absolute;
    left: calc(100% + 15px);
    top: -1em;
    transform: initial;
  }

  .eventForm::before {
    position: absolute;
    z-index: -2;
    content: "";
    top: 1.5em;
    right: calc(100% - 11px);
    width: 20px;
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    filter: drop-shadow(0 -6px 3px #d9d9d9);
    transform: rotate(-135deg);
  }
}
