.eventForm {
  padding: 2em 1.4em 1.4em;
  /* box-shadow: 3px 6px 5px #d9d9d9, -3px -2px 5px #d9d9d9; */
  /* background-color: #9599a0; */
  display: none;
  background-color: var(--pastel, #c3c8ce);
  position: fixed;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: initial;
}

.eventForm:focus,
.eventForm:active {
  /* box-shadow: 3px 6px 5px #d9d9d9, -3px -2px 5px #d9d9d9; */
}

.active {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.buttonRow {
  display: flex;
  margin-top: auto;
}

.buttonWrapper {
  height: 100%;
  margin-right: 1em;
}

:global .eventFormTriangle {
  display: none;
}

@media (min-width: 768px) {
  .eventForm {
    max-width: 300px;
    min-height: 330px;
    position: absolute;
    left: calc(100% + 15px);
    top: -1em;
    transform: initial;
  }

  .eventForm.left {
    left: initial;
    right: calc(100% + 15px);
  }

  :global .eventFormTriangle {
    display: inline-block;
    top: 1.5em;
    right: calc(100% - 6px);
    transform: rotate(-135deg);
  }

  .left :global(.eventFormTriangle) {
    right: initial;
    left: calc(100% - 6px);
    transform: rotate(45deg);
  }
}
