.row {
  width: 100%;
  height: 1.7em;
  margin-bottom: 0.2em;
  position: relative;
}

.rowWithError {
  margin-bottom: 0.5em;
}

.rowEdited {
  margin-bottom: 0.9em;
}

.rowTextarea {
  width: 100%;
  height: 7.3em;
  margin: 2em 0 1em 0;
}

.textRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.descriptionRow {
  margin-top: 2em;
}
.error {
  color: red;
  font-size: 8px;
  position: absolute;
  top: 100%;
  left: 0.5em;
}

.text {
  color: black;
}

.title .text {
  font-size: 1em;
  font-weight: bold;
  line-height: 0.9em;
  margin-bottom: 1em;
}

.date .text {
  font-size: 12px;
  margin-bottom: 1.2em;
  line-height: 1em;
}

.participants .text {
  font-size: 12px;
  padding: 0.4em 0;
  line-height: 1em;
}

.description {
  margin-top: 4em;
}

.description .text {
  font-size: 12px;
}

.label {
  display: block;
  font-size: 10px;
  line-height: 1em;
  color: #84919b;
}

.edit {
  font-size: 10px;
  padding: 0.4em 0;
  line-height: 1.2em;
  color: var(--blue);
  cursor: pointer;
}

@media (min-width: 768px) and (pointer: fine) {
  .edit {
    display: none;
  }
  .textRow:hover .edit {
    display: inline-block;
  }
}
