.day {
  width: 100%;
  height: 100%;
  padding: 0.2em;
  border-right: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  position: relative;
  /* to prevent grid cell from expanding */
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  cursor: pointer;
}

.day:nth-child(7n + 1) {
  border-left: 1px solid #9b9b9b;
}

.day:hover {
  box-shadow: 2px 2px #ebebeb inset, -2px -2px #ebebeb inset;
}

.day:focus,
.day:active,
.day:focus-within {
  box-shadow: 2px 2px var(--focus-ring-color, #85c4f7) inset, -2px -2px var(--focus-ring-color, #85c4f7) inset;
  outline: none;
}

.today {
  background: linear-gradient(#6868687c, black);
}

.today .dayNumber {
  font-weight: bold;
  font-size: 14px;
}

.today:focus,
.today:active {
  outline: blanchedalmond;
}

.active {
  overflow: visible;
}

.viewOpened {
  overflow: visible;
}

/* .day:focus :global(.formEvent),
.day:active :global(.formEvent) {
  display: block;
}

.active :global(.formEvent) {
} */

.day.disabled {
  pointer-events: none;
}

.hasEvent {
  /* background: rgba(255, 255, 255, 0.9); */
  background: var(--deep-blue);
}

.dayNumber {
  font-size: 10px;
  color: #b1b1b1;
}

.disabled .dayNumber {
  color: #6868687c;
}

.event {
  display: none;
}

.add {
  display: none;
}
.more {
  display: none;
}

.count {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 0;
}

.count:focus,
.count:active {
  outline: none;
}
@media (min-width: 768px) {
  .day {
    padding: 0.5em;
  }

  .dayNumber {
    font-size: 12px;
  }

  .day:hover .add {
    display: inline-block;
  }

  .add:focus,
  .add:active {
    outline: none;
  }
  .event {
    display: block;
    overflow: hidden;
    margin-top: 0.5em;
  }

  .add {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: var(--focus-ring-color, #85c4f7);
    font-weight: bold;
    cursor: pointer;
    line-height: 1em;
    font-size: 2em;
    padding: 0.2em;
  }

  .add:hover {
    color: white;
  }

  .more {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: white;
    padding: 0;
    margin-top: 1em;
    cursor: pointer;
  }

  .more:hover {
    color: var(--focus-ring-color, #85c4f7);
  }

  .count {
    display: none;
  }
}
