.popupTriangle {
  position: absolute;
  z-index: 1;
  content: "";
  width: 12px;
  border-top: 12px solid whitesmoke;
  border-left: 12px solid transparent;
  top: 1.5em;
  right: calc(100% - 7px);
  transform: rotate(-135deg);
}
