.popupTriangle {
  position: absolute;
  z-index: 1;
  content: "";
  width: 12px;
  border-top: 12px solid white;
  border-left: 12px solid transparent;
  filter: drop-shadow(0 -6px 3px #d9d9d9);
  top: 1.5em;
  right: calc(100% - 7px);
  transform: rotate(-135deg);
}
