.calendarContainer {
  width: 90%;
  margin: 0 auto;
}

.navigation {
  padding: 1em 0;
  display: flex;
  align-items: center;
}

.calendar {
  height: 0;
  padding-top: 100%;
  width: 100%;
  position: relative;
}

.header {
  background-color: #f4f4f4;
  padding-bottom: 1em;
  padding-top: 1em;
  height: 7em;
  width: 100%;
  box-shadow: 0 2px 4px #b1b1b1;
}

.headerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 1.1em;
    height: 6.3em;
  }
  .headerContainer {
    align-items: flex-end;
    flex-direction: row;
  }
}
