.calendarContainer {
  width: 90%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.calendar {
  height: 0;
  padding-top: 100%;
  width: 100%;
  position: relative;
}

.header {
  padding-bottom: 1em;
  padding-top: 1em;
  height: 7em;
  width: 100%;
}

.headerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
}

.addEvent {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}

@media (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 1.1em;
    height: 6.3em;
  }
  .headerContainer {
    align-items: flex-end;
    flex-direction: row;
  }
}
