.search {
  width: 100%;
  height: 1.8em;
  position: relative;
}

.search:active :global(.searchList),
.search:hover :global(.searchList),
.search:focus :global(.searchList) {
  display: block;
}

@media (min-width: 768px) {
  .search {
    width: 22%;
    min-width: 180px;
    max-width: 250px;
  }
}
